---
layout: default
---
<nav role="navigation">{% include navigation.html %}</nav>
<div id="front-wrapper-no-top">
  <div class="container">
    <div class="span8 offset2 article-format">
    {% assign index = true %}
    {{ content }}
        {% unless page.footer == false %}
          <footer>
            {% if page.date or page.author %}<p class="meta">
              {% if page.author %}{% include post/author.html %}{% endif %}
              {% include post/date.html %}{% if updated %}{{ updated }}{% else %}{{ time }}{% endif %}
              {% if page.categories %}{% include post/categories.html %}{% endif %}
            </p>{% endif %}
          </footer>
        {% endunless %}

      <div class="row">
        <ul class="pager">
          {% if paginator.next_page %}
            <li class="previous">
              <a href="{{paginator.next_page}}">&larr; Older</a>
            </li>
          {% endif %}
          {% if paginator.previous_page %}
            <li class="next">
              <a class="next" href="{{paginator.previous_page}}">Newer &rarr;</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
</div>

