@media only screen and (max-width: 768px) {	
#text-2 img {float: left !important;}
}

/* ********************* CSS for banner *********************** */

#homeBanner {	
height: 450px;
display: block;
margin: 0px auto 0;
width: 100%;
position: relative;
padding-top: 100px;
overflow: hidden;	
z-index: -25;

background-repeat:no-repeat;
background-attachment:fixed;
background-position:center top;	
background-color: #132b2b;
background-image: url('../images/heroBack.jpg');
}

#bannerText {
top: 200px;
line-height: 90%;
font-size: 4.8em;

display:inline-block;
font-family: 'Rambla', sans-serif;
font-weight: bold;

color: #fff;
text-shadow: 0px 4px 4px #555;
position: fixed;
text-align: center;	
width: 100%;
z-index: -10;	
}

#cursive {
display:inline-block;
font-weight: normal;
color: #843D95;
font-family: 'Alex Brush', cursive;
}

.navbar{
position: fixed;
top: 0px;
margin-bottom: 0px;
width: 100%;
}
  
.hidden{
visibility:hidden;
}
